*{
	margin:0;
	scroll-behavior: smooth;
}

html{
	font-size: 10px;
	scroll-behavior: smooth;
	background-image: url('../images/bg_2.jpg');
}

.sec0{
	height: 100%;
  /* The image used */
  

  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.navigation{
	position: fixed;
	width: 100%;
	height: 45px;
	overflow: hidden;
  	background-color: lightblue;
  	/*#f1f1f1;*/
  	padding: 20px 10px;
  	float: center;
  	/*line-height: 45px;*/
}

.navigation a{
	position: relative;
	display: flex-inline;
	float: right;
	color: black;
	text-align: center;
	top: 50%;
	padding: 12px;
	text-decoration: none;
	font-size: 20px; 
	/*line-height: 25px;*/
	border-radius: 4px;
	/*font-family: */
}
.navigation a:hover {
  background-color: #ddd;
  color: black;
}
.nav {
  float: center;
}

img,p{
	display: inline;
}
p{
	/*position: relative;*/
	font-size: 24px;
	margin-left: 30px;
	display: flex-inline;	
}





